<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>


    <table id="table" class="table table-hover table-mc-light-blue">
        Produtos Cadastrados
        
        &nbsp;&nbsp;&nbsp;

        <input type="text" class="form-control-sm" placeholder="Pesquisar" id="pesquisa">
        &nbsp;

        <button type="button" class="btn btn-outline-success btn-sm" id="modalCad">Cadastrar novo livro
            +</button><br><br>
        


    </table>

    <script src="../Model/ControllerProduto.js"></script>
    <script src="https://kit.fontawesome.com/c94a6a837a.js" crossorigin="anonymous"></script>
    <script src="js/ModalRedirect.js"></script>
</body>

</html>